/* CSS-стили для CategoryForm */

/* Стили для контейнера формы */
.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #2b3138; /* Цвет фона, аналогичный GitHub */
    color: #ffffff; /* Цвет текста, аналогичный GitHub */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.textarea {
    width: 100%;
    height: 100px; /* Укажите желаемую высоту */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000;
  }
.block_div {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
  
  /* Стили для выпадающего списка */
.select {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    visibility: 'visible'
  }
  
  /* Стили для текстовых полей */
  .input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 20%;
    box-sizing: border-box;
    color: #000;
  }
  .input::placeholder {color: #000000;}
  .textarea::placeholder {color: #000000;}
  
  /* Стили для метки "Выберите категорию товара" */
  .label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Стили для опций выпадающего списка */
  .option {
    font-size: 16px;
  }
  
  /* Стили для кнопки (если требуется) */
.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0366d6; 
    color: #ffffff; 
    border: none;
    cursor: pointer;
} 
.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.menuItem {
  margin: 3px;
  color: #03d65b; 
  font-size: 20px;
}
.blockSerch {
  margin: 15px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}