.button{
    font-weight: 900;
    width: 220px;
    height: 50px;
    background-size: 200% auto;
    font-size: 18px;
    line-height: 48px;
    -webkit-transition: .3s all;
    transition: .3s all;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--menuColor);
    background-color: #C32033;
    border: 1px solid var(--mainContrastSchemeColor);
}
.button:hover {
    background-color: #00ADEF;
    color: #000;
}