.middle_menu {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: var(--inner-max-width);
    padding: 15px 0;
    position: relative;
    width: var(--inner-width);
    flex-wrap: nowrap;
}
.serch_icon {
    width: 24px;
    height: 24px;
}
.mimi_popup_serch {
    background-color: #fff;
    margin-top: 4px;
    width: 43%;
    color: #000;
    display: none;
    z-index: 2;
    position: absolute;
    user-select: none;
    padding: 0;
    border: 3px rgb(182, 176, 173) solid;
    border-radius: 7px;
    font: inherit;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
}
.mimi_popup_serch_visibiliti {
    display: block;
}
.item_list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 7px;
    
}
.item_list:hover {
    background-color: #c4262636;
}
.img_item_list {
    width: 60px;
    margin-right: 10px;
    height: auto;
}
.search_form {
    background: #fff;
    transition: .2s;
}
.search_form form {
    display: flex;
}
.search_form input {
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 0;
    padding: 5px;
    font-size: 16px;
    color: #000000;
}
::-webkit-input-placeholder { 
    color:    rgb(0, 0, 0);
}
input[type=text] {
    appearance: none;
}
.search_form button {
    display: flex;
    align-items: center;
    width: auto;
    background: 0 0;
    color: #b5b5b5;
    border: 0;
    border-bottom: 1px solid #000000;
}
button {
    color: #fff;
    border: 1px solid var(--mainSchemeColor);
    background: var(--mainSchemeColor);
    cursor: pointer;
}
.search_form button .f7-icons {
    font-size: 24px;
}
.slogan {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: 300;
    margin: 0 0 0 20px;
    max-width: 150px;
}
.phone{
    font-size: 20px;
    text-decoration: none;
}
.phoneIMG{
    width: 25px;
    margin-right: 10px;
}
.block_phone {
    margin-left: 10px;
    display: block;
}
.logo_wrapper {
    font-size: 36px;
    font-weight: 600;
    text-decoration: none;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.logo img{
    max-width: 200px;
    max-height: 100%;
}
.icon_cont {
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
}
.icon_cont_user {
    display: flex;
    flex-direction: column;
}
.inner {
    padding: 15px 0;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    align-items: center;
    position: relative;
    width: var(--inner-width);
    max-width: var(--inner-max-width);
    margin: 0 auto;
}
.middle_right {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}
.login_or_reg {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    font-size: 12px;
    color: #595959;
}
.basket {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    font-size: 12px;
    color: #595959;
    margin-left: 30px;
    margin-top: 5px;
}
.search_open {
    display: none;
    margin-right: 20px;
}
.middle_right img {
    width: 35px;
    margin-right: 10px;
}
.middle_right a {
    text-decoration: none;
    font-weight: 600;
}
.middle_right .pop_up_count {
    position: absolute;
    margin-top: -40px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--mainContrastSchemeColor);
    color: var(--menuColor);
}
.pop_up_price {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: var(--mainSchemeColor);
}
.block_phone_planshet{
    display: none;
}
.phone_blosk_too {
    margin-right: 10px;
    display: flex;
    flex-direction:row;
    align-items: center;
}
.block_content {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
@media (max-width: 1450px) {
    .phone{
        font-size: 15px;
    }
    .search_form{
      width: auto;  
    }
}
@media (max-width: 1320px) {
    .slogan{
        max-width: 100px;
    }
}
@media (max-width: 1250px) {
    .phone{
        font-size: 20px;
        margin-top: 10px;
    }
    .phoneIMG{
        width: 20px;
    }
    .block_phone_planshet {
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .block_phone{
        display: none;
    }
    .inner {
        flex-wrap: wrap;
        justify-content: center
    }
}
@media (max-width: 1170px) {
    .block_phone{
        display: none;
    }
    .icon_cont{
        display: none;
    }
}
@media (max-width: 912px) {
    .logo img{
        max-width: 150px;
    }
}
@media (max-width: 888px) {
    .icon_cont{
        display: none;
    }
}
@media (max-width: 768px) {
    .block_content {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        justify-content: space-between; 
    }
    input[type=text] {
        appearance: none;
        width: 100%;
    }
    .search_form{
        margin-left: 49px;
    }
    .inner {
        flex-direction: column
    }
    .logo_wrapper {
        flex-direction: column
    }
    .slogan{
        display: none;
        max-width: 100%;
        font-size: 18px;
    }
    .logo img{
        max-width: 175px;
    }
    .search_form{
        width: 70%;  
    }
    .middle_right {
        max-width: 79%;
        margin-top: 15px;
    }
    .block_phone_planshet {
        display: flex;
    }
    .mimi_popup_serch {
        width: 70%;
        z-index: 12;
        font-size: 19px;
    }

}
@media (max-width: 640px) {
    .slogan {
        display: none;
    }
    .search_form{
        margin-left: 0;
    }
}
@media (max-width: 555px) {
    .logo img{
        max-width: 150px;
    }
    .search_form{
        width: 100%;  
    }
    .mimi_popup_serch {
        width: 100%;
    }
}
@media (max-width: 425px) {
    .search_form{
        width: 100%;  
    }
    .mimi_popup_serch {
        width: 100%;
        font-size: 14px;
    }
}
@media (max-width: 328px) {
    .search_form{
        width: 100%;  
    }
    .mimi_popup_serch {
        font-size: 13px;
    }
}









