.new_items {
    text-decoration: none;
    box-sizing: border-box;
}
.shop_title {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 40px;
}
.items {
    flex-wrap: wrap;
    margin-right: calc(-1*var(--items-margin-grid));
    display: flex;
    box-sizing: border-box;
}