.new_items {
    text-decoration: none;
    box-sizing: border-box;
}
.shop_title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 40px;
}
.items {
    flex-wrap: wrap;
    margin-right: calc(-1*var(--items-margin-grid));
    display: flex;
    box-sizing: border-box;
}
@media (max-width: 320px) {
    .shop_title{
        font-size: 26px;
    }
  }