.shop-descr,.shop_title {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 40px
}
.default .item_preview .left .image .item_tags .discount,.default .items .item_tags div.discount {
    background: #0b8c00
}

.items,.items .pagination {
    display: -webkit-box;
    display: flex
}

.items {
    flex-wrap: wrap;
    margin-right: calc(-1*var(--items-margin-grid))
}

.items .pagination {
    width: 100%;
    margin-top: 30px
}

.items .pagination span {
    margin-right: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    background: #eee
}

.items .pagination span:first-child a,.items .pagination span:last-child a {
    background: 0 0
}

.items .pagination .page-item.active {
    background: var(--mainSchemeColor)
}

.items .pagination .page-item.active a {
    color: #e1e1e1
}

.items .pagination .feather {
    padding: 5px 0;
    width: 45px;
    height: 45px;
    stroke-width: 1px
}

.items .pagination a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333
}

.items .item,.items .item .favorite_btn i {
    -webkit-transition: .3s all;
    transition: .3s all
}

.items .item,.items .item .item_tags {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
}

.items .item {
    width: calc(100%/var(--items-count-grid) - var(--items-margin-grid));
    margin: 0 var(--items-margin-grid) var(--items-margin-grid) 0;
    border: 1px solid #e8e8e8
}

.items .item:hover img[data-switch="1"] {
    display: block!important
}

.items .item .item_tags {
    position: absolute;
    top: 5px;
    left: 5px
}

.items .item .item_tags div {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 11px;
    margin-bottom: 5px;
    border-radius: 2px;
    padding: 2px 10px;
    text-align: center;
    -webkit-transition: .2s all;
    transition: .2s all;
    font-weight: 400
}

.items .item .item_tags div.discount {
    padding: 5px 10px;
    font-size: 12px
}

.items .item .bestseller {
    background: var(--mainContrastSchemeColor);
    background: var(--mainContrastSchemeColor-darken10);
    color: #fff
}

.items .item .novelty {
    background: var(--mainContrastSchemeColor-lighten10);
    background: #000;
    color: #fff
}

.items .item .discount {
    background: var(--mainContrastSchemeColor-darken30);
    color: #fff
}

.items .item .recommend {
    background: var(--mainContrastSchemeColor-lighten20);
    color: #fff
}

.items .item .favorite_btn {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: var(--mainSchemeColor);
    -webkit-transition: .3s all;
    transition: .3s all;
    z-index: 5;
    cursor: pointer
}

.items .item .favorite_btn i {
    font-size: 10px
}

.items .item .item_content {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 10px 25px 25px;
    width: 100%
}

.items .item .price,.items .item .price_new {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
    margin-bottom: 15px
}

.items .item .price .new,.items .item .price_new .new {
    margin-right: 20px;
    font-size: 19px;
    line-height: 22px;
    color: var(--mainSchemeColor);
    font-weight: 500
}

.items .item .price .old,.items .item .price_new .old {
    font-size: 14px;
    line-height: 16px;
    color: #757575;
    text-decoration: line-through
}

.items .item .discount_exist .new {
    font-size: 14px
}

.items .item .price.discount_exist {
    text-decoration: line-through;
    opacity: .5
}

.items .item .descr {
    margin-bottom: auto;
    min-height: 50px;
    max-height: 50px;
    text-align: left;
    font-size: var(--bodyFontSize);
    line-height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.items .item .image {
    -webkit-transition: .3s all;
    transition: .3s all;
    margin: 15px;
    position: relative
}

.items .item .image:hover .bg_dark,.items .item .image:hover .favorite_btn {
    opacity: 1
}

.items .item .image:hover .favorite_btn i {
    font-size: 32px
}

.items .item .image .bg_dark {
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    background: rgba(255,255,255,.3);
    background: radial-gradient(rgba(0,0,0,.2),rgba(255,255,255,.2));
    -webkit-transition: .3s all;
    transition: .3s all
}

.items .item .image a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.items .item img {
    display: block;
    width: 100%;
    height: auto
}

.items .item .btn_wrapp {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 20px
}

.items .item .more {
    width: 165px;
    height: 40px;
    background: #fff;
    color: var(--mainSchemeColor)
}

.items .item .more:hover {
    color: #fff;
    background: var(--mainSchemeColor);
    -webkit-transition: .3s all;
    transition: .3s all
}

.items .item .add_basket {
    width: 40px;
    height: 40px;
    display: none
}

.items .item .feather {
    margin-right: 0
}

.items.grid .item {
    width: calc(100%/var(--category-items-count-grid) - var(--items-margin-grid))
}

.items.addition_items .item,.items.equivalent_items .item {
    width: calc(100%/var(--equivalent-items-count-grid) - var(--items-margin-grid))
}

.items.list,.items.list .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
}

.items.list .item {
    -webkit-box-orient: horizontal;
    flex-direction: row;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    width: calc(100% - var(--items-margin-grid));
    margin-bottom: 20px
}

.items.list .item .image {
    max-width: 200px
}

.items.list .item .btn_wrapp {
    position: absolute;
    right: 20px;
    bottom: 20px
}

.items.list .item .btn_wrapp .add_basket {
    margin-left: 15px;
    outline: 0
}

.items.list .item .item_content {
    width: 46%
}

.item_preview {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between
}

.item_preview .count_minus,.item_preview .count_plus {
    border: 1px solid var(--inputBorderColor)
}

.item_preview .count {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    border: 0
}

.item_preview .item_short_description {
    margin-bottom: 15px;
    font-size: 14px
}

.item_preview .item_price {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between
}

.item_preview .item_price .price_one_wrapp,.item_preview .item_price .total_price {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
}

.item_preview .item_price .price_one_wrapp .one_price,.item_preview .item_price .total_price .one_price {
    color: var(--mainSchemeColor);
    font-size: 24px;
    font-weight: 500
}

.item_preview .item_price .price_one_wrapp .one_price.discount_exist,.item_preview .item_price .price_one_wrapp .total.discount_exist,.item_preview .item_price .total_price .one_price.discount_exist,.item_preview .item_price .total_price .total.discount_exist {
    text-decoration: line-through;
    opacity: .7;
    font-size: 15px
}

.item_preview .item_price .price_one_wrapp .total,.item_preview .item_price .price_one_wrapp .total_new,.item_preview .item_price .total_price .total,.item_preview .item_price .total_price .total_new {
    font-size: 24px;
    font-weight: 500
}

.item_preview .item_price form {
    width: 35%
}

.item_preview .number_input {
    width: 50px;
    text-align: center;
    border: 0;
    border-top: 1px solid var(--inputBorderColor);
    border-bottom: 1px solid var(--inputBorderColor);
    margin-top: 0;
    height: 45px;
    padding: 5px;
    outline: 0;
    border-radius: 0
}

.item_preview .count_minus,.item_preview .count_plus {
    cursor: pointer;
    width: 40px;
    height: 45px;
    line-height: 40px;
    background-color: #fff;
    text-align: center;
    -webkit-transition: background-color .15s ease;
    transition: background-color .15s ease
}

.item_preview .count {
    font-size: var(--bodyFontSize);
    width: auto
}

.item_preview .left,.item_preview .right {
    line-height: 1.5;
    padding-bottom: 50px
}

.item_preview .right {
    width: 49%
}

.item_preview .left .item_discount,.item_preview .right .item_discount {
    margin-bottom: 10px;
    font-size: 14px
}

.item_preview .left .right_top,.item_preview .right .right_top {
    font-size: var(--bodyFontSize);
    margin-top: 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 20px;
    margin-bottom: 20px
}

.item_preview .left .add_favorite,.item_preview .right .add_favorite {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    width: 125px
}

.item_preview .left .add_favorite.active svg,.item_preview .right .add_favorite.active svg {
    fill: #cc3232;
    stroke: #cc3232!important
}

.item_preview .left .add_favorite svg,.item_preview .right .add_favorite svg {
    stroke: var(--mainSchemeColor)
}

.item_preview .left .availability.exist,.item_preview .right .availability.exist {
    color: #0b8c00
}

.item_preview .left .availability.no_exist,.item_preview .right .availability.no_exist {
    color: var(--mainSchemeColor)
}

.item_preview .left {
    display: -webkit-box;
    display: flex;
    width: 550px
}

.item_preview .details_title {
    width: 100%;
    font-size: var(--bodyFontSize);
    margin-bottom: 5px
}

.item_preview .item_details,.item_preview .sizes {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap
}

.item_preview .item_details .item_detail {
    min-width: 200px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px
}

.item_preview .sizes {
    width: 100%;
    position: relative
}

.item_preview .sizes .feather-chevron-down {
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer
}

.item_preview .sizes.active {
    height: auto;
    z-index: 5
}

.item_preview .sizes .feather-square {
    position: absolute
}

.item_preview .sizes .feather-check {
    position: absolute;
    left: 13px;
    top: 7px;
    display: none
}

.item_preview .sizes .feather-square {
    display: block;
    width: 22px;
    height: 22px;
    stroke-width: 1;
    left: 10px;
    top: 8px
}

.item_preview .sizes .size {
    position: relative;
    padding: 10px 20px;
    background: rgba(0,0,0,.05);
    margin-bottom: 20px;
    margin-right: 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: auto;
    border-radius: 3px;
    border: 1px solid var(--inputBorderColor);
    font-size: 14px;
    text-align: center;
    -webkit-transition: .3s all;
    transition: .3s all;
    min-width: 80px;
    cursor: pointer
}

.item_preview .sizes .size.active {
    border-color: #98d642
}

.item_preview .sizes .size.active .feather-check {
    width: 15px;
    display: block
}

.item_preview .sizes .size.disabled {
    opacity: .5
}

.item_preview .sizes .size:last-child {
    margin-right: 0
}

.item_preview .colors {
    width: 100%;
    display: -webkit-box;
    display: flex;
    position: relative
}

.item_preview .colors.active {
    height: auto;
    z-index: 5
}

.item_preview .colors .feather-check {
    display: none
}

.item_preview .colors .color {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    width: 40px;
    font-size: var(--bodyFontSize);
    margin-bottom: 5px;
    text-align: center;
    cursor: pointer
}

.item_preview .colors .color .color_view {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 3px;
    background-size: cover;
    box-shadow: 0 0 1px 1px #999
}

.item_preview .colors .color.active .color_view,.item_preview .left .image:hover .zoom {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.item_preview .colors .color.disabled {
    opacity: .2
}

.item_preview .left {
    -webkit-box-align: start;
    align-items: flex-start
}

.item_preview .left .image {
    width: 440px;
    height: auto;
    overflow: hidden;
    position: relative
}

.item_preview .left .image:hover .zoom {
    opacity: 1
}

.item_preview .left .image .zoom {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: 20px;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: .3s all;
    transition: .3s all
}

.item_preview .left .image .zoom i {
    color: #cfcfcf
}

.item_preview .left .image img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%
}

.item_preview .left .image .item_tags {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 12px;
    z-index: 10
}

.item_preview .left .image .item_tags div {
    padding: 3px 15px;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 2px;
    text-align: center
}

.item_preview .left .image .bestseller {
    background: var(--mainContrastSchemeColor-darken10)
}

.item_preview .left .image .novelty {
    background: #000
}

.item_preview .left .image .discount {
    background: var(--mainContrastSchemeColor-darken30)
}

.item_preview .left .image .recommend {
    background: var(--mainSchemeColor-lighten20)
}

.item_preview .left .extra_image {
    position: relative;
    height: 400px;
    padding-bottom: 60px;
    margin-right: 30px;
    width: 70px
}

.item_preview .left .extra_image .swiper-wrapper {
    height: auto
}

.item_preview .left .extra_image img {
    height: 70px;
    width: 70px;
    border: solid 1px #f4f4f4;
    cursor: pointer
}

.item_preview .left .video_preview,.prop_row {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}
.items .item .item_content .property {
    display: none
}
.item_preview .left .video_preview {
    width: 55px;
    margin-top: 15px;
    height: 55px;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    -webkit-box-pack: center;
    justify-content: center
}

.item_preview .left .video_preview .f7-icons {
    color: #fff;
    font-size: 40px
}

.item_preview .availability_text {
    display: none
}

.prop_row {
    line-height: 2;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: solid 1px #f4f4f4
}

.prop_row:last-child {
    border-bottom: none
}

.item_description {
    line-height: 1.5;
    overflow: hidden
}
.items .item {
    border: 0;
    -webkit-transition: .2s;
    transition: .2s
}

.items .item .image {
    margin: 3px
}

.items .item .image .item_tags {
    top: 0;
    left: 0
}

.items .item .image .item_tags div {
    text-transform: uppercase;
    height: auto;
    width: auto;
    margin: 0 0 3px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    border-radius: 7px
}

.items .item .item_content {
    padding: 10px
}

.items .item .item_content .descr {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0 0 15px;
    text-align: center
}

.category_items .category_item a span,.items .item .item_content .descr .item_link {
    font-size: 16px;
    text-decoration: none;
    color: #333
}

.items .item .item_content .property {
    display: none
}

.items .item .item_content .all_prices {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
}

.items .item .item_content .all_prices .price,.items .item .item_content .all_prices .price_new {
    display: block;
    margin: 0;
    font-size: 18px;
    font-weight: 900;
    color: #333;
    line-height: 1.2
}

.items .item .item_content .all_prices .discount_exist {
    font-size: 14px
}

.items.grid .item .btn_wrapp {
    margin-top: 15px;
    -webkit-box-pack: center;
    justify-content: center
}

.items.grid .item .btn_wrapp .item_basket_add {
    margin: 0;
    border-radius: 0;
    padding: 5px 20px;
    border: 1px solid var(--mainSchemeColor)
}

.items.list .item .item_content {
    width: 60%;
    -webkit-box-align: start;
    align-items: flex-start
}

.items.list .item .item_content .descr {
    min-height: unset;
    font-weight: 600;
    text-align: left
}

.items.list .item .item_content .property {
    display: block;
    font-size: 14px;
    color: #777
}

.items.list .item .item_content .all_prices {
    margin-top: 15px
}

.shop-advantages {
    padding: 80px 0
}

.items .item .image .item_tags div,.shop-advantages .triggers,.shop-advantages .triggers .trigger i {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center
}

.shop-advantages .triggers {
    border: 0;
    flex-wrap: wrap;
    padding: 0;
    -webkit-box-align: stretch;
    align-items: stretch
}

.category_items,.shop-advantages .triggers .trigger {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start
}

.shop-advantages .triggers .trigger {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    text-align: center;
    width: 25%;
    padding: 10px 30px;
    -webkit-box-align: center;
    align-items: center
}

.shop-advantages .triggers .trigger i {
    margin: 0;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    background-size: 200% auto;
    color: #fff;
    font-size: 42px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-transition: .1s ease-out;
    transition: .1s ease-out;
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,var(--mainContrastSchemeColor)),color-stop(50%,var(--mainContrastSchemeColor)),color-stop(50%,var(--mainSchemeColor)),to(var(--mainSchemeColor)));
    background-image: linear-gradient(to right,var(--mainContrastSchemeColor) 0,var(--mainContrastSchemeColor) 50%,var(--mainSchemeColor) 50%,var(--mainSchemeColor) 100%)
}

.shop-advantages .triggers .trigger i:hover,.slider a:hover {
    background-position: right center
}

.shop-advantages .triggers .trigger span {
    font-size: 16px;
    font-family: inherit;
    margin-top: 15px
}

.category_items {
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 -15px
}

.category_items .category_item {
    margin: 15px;
    width: calc(100%/3 - 30px);
    border: 0;
    padding: 0
}

.category_items .category_item a {
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out
}

.bottom_menu .inner .categories a,.category_items .category_item a:hover,.category_items .category_item a:hover span {
    color: var(--mainContrastSchemeColor)
}

.category_items .category_item a img {
    width: 100%
}

.category_items .category_item a span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0 0 15px;
    text-align: center
}

.category_list {
    margin: 0 -10px;
    padding-bottom: 20px
}

.category_list .category {
    margin: 10px;
    width: calc(100%/3 - 20px);
    color: #fff
}

.category_list .category .title {
    text-align: left;
    font-weight: 600;
    background: var(--mainContrastSchemeColor)
}

.filter_bar>div {
    border: 0;
    font-size: 16px
}

.filter_bar .btns_wrapper {
    border: 0;
    border-top: 1px solid #eee
}

.item_preview .right {
    padding-bottom: 30px
}

.item_preview .right .item_tags div,.slider a {
    font-weight: 900
}

.item_preview .right .item_title {
    font-size: 32px;
    margin-bottom: 5px
}

.item_preview .right .right_top {
    margin: 10px 0;
    padding: 0;
    border: 0;
    -webkit-box-pack: start;
    justify-content: flex-start
}

.item_preview .right .right_top>div {
    margin-right: 20px;
    font-size: 15px
}

.item_preview .right .item_short_description {
    font-size: 15px;
    margin-bottom: 20px
}

.item_preview .right .item_details {
    margin-top: 20px
}

.item_preview .right .item_details .details_title {
    font-weight: 900px;
    font-size: 20px;
    padding: 5px 0 10px
}

.item_preview .right .item_details .colors_wrapper .colors .color div {
    border-radius: 0;
    box-shadow: none
}

.item_preview .right .item_details .colors_wrapper .colors .color.active div {
    -webkit-transform: scale(1);
    transform: scale(1);
    border: 2px solid var(--mainContrastSchemeColor)
}

.item_preview .right .item_details .sizes_wrapper .sizes .size {
    border-radius: 0;
    padding: 6px
}

.item_preview .right .item_price {
    margin-top: 30px;
    margin-bottom: 10px
}

.item_preview .right .item_price .count {
    display: none
}

.item_preview .right .item_price form,.item_preview .right .item_price form .total_price {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row
}

.item_preview .right .item_price form {
    width: 100%
}

.item_preview .right .item_price form button {
    margin-right: 20px;
    line-height: 1
}

.item_preview .right .item_price form .total_price {
    margin-top: -40px;
    position: absolute;
    -webkit-box-align: center;
    align-items: center
}

.item_preview .right .item_price form .total_price .total,.item_preview .right .item_price form .total_price .total_new {
    font-size: 26px;
    font-weight: 900;
    margin-right: 15px
}

.item_preview .right .item_price form .total_price .discount_exist {
    font-size: 18px;
    color: #999
}

.item_preview .right .item_price form .item_add_to_cart {
    font-weight: 500;
    background-size: 200% auto;
    border: 0;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: .3s all;
    transition: .3s all;
    color: var(--menuColor);
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,var(--mainContrastSchemeColor)),color-stop(50%,var(--mainContrastSchemeColor)),color-stop(50%,var(--mainSchemeColor)),to(var(--mainSchemeColor)));
    background-image: linear-gradient(to right,var(--mainContrastSchemeColor) 0,var(--mainContrastSchemeColor) 50%,var(--mainSchemeColor) 50%,var(--mainSchemeColor) 100%)
}

.item_preview .right .item_price form .item_add_to_cart:hover {
    background-position: right center
}

.item_preview .right .item_price form .oneclickbuy {
    margin-right: 0
}