.more_category {
    display: block;
    text-align: center;
    width: 300px;
    margin: 20px auto 110px;
    border-radius: 0;
    padding: 10px 40px;
    background-size: auto 200%;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    background-color: #C32033;
    transition: all .2s ease;
    border: 2px solid var(--mainContrastSchemeColor);
}

.more_category a {
    text-decoration: none;
    line-height: 30px;
}

.more_category:hover {
    text-decoration: none;
    background-color: #00ADEF;
    color: #000;
    background-position: bottom center;
    cursor: pointer
}
